name: legende
description: "Login page with video on background."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8

  get: ^4.7.3

  flutter_linkify: ^6.0.0
  google_fonts: ^7.0.0
  url_launcher: ^6.3.2
  flutter_svg: ^2.2.3
  video_player: ^2.10.1

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/video/
    - assets/images/
    - assets/svg/

